* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.168);
}

.layout-grid {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
}

.link:hover {
  color: #af0404;
  text-decoration: underline;
}

.section-encomendas {
  margin-top: 50px;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
}

.img-house {
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cabeçalho */
thead {
  background-color: #f2f2f2;
}

th {
  padding: 14px;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Linhas */
td {
  padding: 12px;
  font-size: 0.95rem;
  color: #444;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

td.nome {
  font-weight: 600;
  color: #222;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.footer {
  width: 100%;
  background-color: #333333;
  color: white;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer-left p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.footer-right {
  display: flex;
}

.footer-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
}

.footer-navbar {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
